conda create --name xai_boron_la python=3.10.8

conda activate xai_boron_la

conda install pandas pyyaml fabric scipy appdirs pymongo openpyxl 

conda install anaconda::jupyter

conda install anaconda::matplotlib

conda install pytorch scikit-learn

conda install -c conda-forge openbabel py3dmol

pip install seaborn rdkit-pypi deepchem tensorflow



